pkgbase = gmpublished-bin
	pkgdesc = Native Workshop Publishing Utility for Garry's Mod
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/charles-mills/gmpublished
	arch = x86_64
	license = GPL-3.0-only
	checkdepends = desktop-file-utils
	depends = alsa-lib
	depends = fontconfig
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libglvnd
	depends = libx11
	depends = libxcb
	depends = libxkbcommon
	depends = vulkan-driver
	depends = vulkan-icd-loader
	depends = wayland
	optdepends = steam: Workshop publishing and Garry's Mod detection; must be running and signed in
	optdepends = xdg-utils: open files and folders in the file manager
	provides = gmpublished=0.2.1
	conflicts = gmpublished
	options = !strip
	options = !debug
	source = gmpublished-0.2.1-x86_64-linux.zip::https://github.com/charles-mills/gmpublished/releases/download/v0.2.1/gmpublished-0.2.1-x86_64-linux.zip
	sha256sums = ae06952e62b493676c0683f3efb066e808970b075dd31e0406b030127722ca9b

pkgname = gmpublished-bin
